$font-color: #555;
$font-weight: 300;
$font-family: 'Yanone Kaffeesatz', sans-serif;

$background-color: #f3fcfc;

$a-color: #01a9b4;
$a-hover-color: #87dfd6;

$max-page-width: 60rem;

// general color
$primary-color: #01a9b4;
$secondary-color: #87dfd6;
$tertiary-color: #086972;
$base-color: #f3fcfc;
$default-color: white;

// buttons
$primary-button-background-color: #01a9b4;
$primary-button-color: #white;

$secondary-button-background-color: #87dfd6;
$secondary-button-color: #white;

$default-button-background-color: transparent;
$default-button-color: #086972;

//input
$input-color: #555;
$input-background-color: #fff;
$input-border-color: #87dfd6;
$input-border-highlight-color: #01a9b4;

// notification
$error-color: #dc0000;
$error-notification-background-color: rgba(244, 67, 54, .9);
$error-notification-color: #61302E;

$success-notification-background-color: rgba(104, 159, 56, .95);
$success-notification-color: #fefff5;

// others
$scrollbar-background-color: rgba(1, 169, 180, 0.2);
$scrollbar-color: #01a9b4;

$selection-background-color: #01a9b4;
$selection-color: #fefff5;

